body {
    margin: 0;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 4.5em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.tig_logo {
    width: 5em;
    margin-left: 1em;
    min-width: 0;
}

.main_content {
    padding-top: 5em;
    padding-inline: 1rem;
}

.table-container {
    position: relative;
    overflow-y: auto;
    /* overflow-x: hidden; */
    height: calc(100vh - 5.5em);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 5px;
}


thead {
    position: sticky;
    top: 0;
    background: #C6D9FF;
    color:  #1520A6; 
    z-index: 1; 
    
}
thead th {
    font-weight: 600;
    font-size: 14px;
    height: 3rem;
}

/* Create separation between thead and tbody */
tbody {
    position: relative;
}

tbody::before {
    content: '';
    display: block;
    height: 0rem; /* Adjust as needed for separation */
    background-color: #f9f9f9; /* Match the background of the gap */
    width: 100%;
}

th, td {
    border: 1px solid #0000004D;
    padding-inline: 0.25rem;
    text-align: left;
    white-space: nowrap;
    height: 2rem;
    padding-block: 0.25rem;
}

tbody tr:nth-child(2n)  {
     background: #F9FAFC;
    
}
tbody tr:nth-child(2n) .input_field_for_costing {
     background: #F9FAFC;
    
}
.button_text_td{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}
.disp_none{
    display: none;
}
.add_rotation{
    transform: rotate(180deg);
    transform-origin: center
}
.button_group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.width_5{
    width: 6%; 
}
.input_field_for_costing{
    height: 100%;
    border: none;
    width: 100%;
}
.padding_0{
    padding: 0;
}
.input_field_for_costing:focus{
    outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.input_field_for_costing{
    height: 100%;
    width: 84%;
}
.input_field_for_costing:focus{
    outline: none;
}
.disp_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}